#Compile files#
#########################
*.vo
*.glob
*.depend

#svn files#
#########################
*.svn/

#Bruno's files#
#########################
CCTnat.v
CCUT.v
Can.v
Choice.v
Conv.v
ConvECC.v
Ens.v
Ens0.v
EnsEm.v
EnsEm0.v
EnsEmUniv.v
EnsLogic.v
EnsUniv.v
Env.v
EnvECC.v
Esub.v
FOTheory.v
GenLemmas.v
GenModel.v
GenModelSN.v
GenModelSyntax.v
GenRealSN.v
HF.v
HFcoc.v
HFrelation.v
IntMap.v
Lambda.v
Logics.v
Makefile
ModelCIC.v
ModelECC.v
ModelHF.v
ModelNat.v
ModelZF.v
Models.v
MyList.v
Nest.v
NonUniform.v
ObjectSN.v
SATnat.v
SN_CC.v
SN_CC_Real.v
SN_CIC.v
SN_NAT.v
Sat.v
StrengthenECC.v
Sublogic.v
Term.v
TermECC.v
TheoryInTerm.v
TypeECC.v
TypeJudge.v
TypeJudgeECC.v
Types.v
VarMap.v
ZF.v
ZFcard.v
ZFclosord.v
ZFcoc.v
ZFcoll.v
ZFcont.v
ZFdef.v
ZFecc.v
ZFfix.v
ZFfixfun.v
ZFfixrec.v
ZFfunext.v
ZFgrothendieck.v
ZFinaccessible.v
ZFind_basic.v
ZFind_nat.v
ZFind_ord.v
ZFind_w.v
ZFind_wd.v
ZFind_wnup.v
ZFiso.v
ZFlambda.v
ZFlimit.v
ZFlist.v
ZFnats.v
ZFnest.v
ZFord.v
ZFord_equiv.v
ZFord_plump.v
ZFordcl.v
ZFpairs.v
ZFplump.v
ZFrank.v
ZFrelations.v
ZFrepl.v
ZFskol.v
ZFskolEm.v
ZFspos.v
ZFsposd.v
ZFstable.v
ZFstrictpos.v
ZFstrictpos1.v
ZFstrictpos_prop.v
ZFsum.v
ZFtheory.v
ZFwf.v
basic.v
broken/
template/

